<uib-accordion close-others="true">
 
    <div ng-repeat="companies in datasource" ng-init="companiesIndex = $index">
         
        <div ng-repeat="(companyName, b) in companies">
 
            <uib-accordion-group is-open="status.openMain[companiesIndex]" >
 
                <uib-accordion-heading>
                    {{::companyName}}
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': status.openMain[companiesIndex], 'glyphicon-chevron-right': !status.openMain[companiesIndex]}">
                    </i>
                </uib-accordion-heading>
 
                <div ng-repeat="(companyDescription, projects) in b">                 
                    <p ng-bind-html="companyDescription"></p>
                     
                    <uib-accordion close-others="false">
 
                        <div ng-repeat="(projectGroup, project) in projects">
                                                         
                            <div ng-repeat="(projectName, projectDescription) in project">
                     
                                <uib-accordion-group is-open="status.openSub[projectGroup]" >
 
                                    <uib-accordion-heading>       
                                        {{::projectName}}                         
                                        <i class="pull-right glyphicon"
                                            ng-class="{'glyphicon-chevron-down': status.openSub[e], 'glyphicon-chevron-right': !status.openSub[e]}"></i>
                                    </uib-accordion-heading>
                                    <p ng-bind-html="projectDescription"></p>  
 
                                </uib-accordion-group>                                
                             
                            </div>
                        </div>
 
                    </uib-accordion>
                </div>    
             
            </uib-accordion-group>
        </div>
 
    </div>
 
</uib-accordion>